body {
    background-image: url('./img/bg.jpg');
    background-size: cover;
}

.nav {
    display: flex;
    justify-content: space-between;
}

button:hover {
    cursor: pointer;
}

button:active {
    transform: scale(1.2);
}

.home-but {
    color: white;
    background-color: #00000000;
    border-width: 2px;
    border-color: white;
    border-style: solid;
    border-radius: 8px;
    padding: 1.5vh 1.5vw;
    transition: all ease-in-out 0.3s, transform ease-in-out 0.15s;
}

.home-but:hover {
    color: #000000;
    background-color: white;
}

.nav-but {
    background-color: white;
    border-width: 2px;
    border-color: white;
    border-style: solid;
    border-radius: 8px;
    padding: 1.5vh 1.5vw;
    transition: all ease-in-out 0.3s, transform ease-in-out 0.15s;
    margin-left: 10px;
}

.nav-but:hover {
    background-color: #00000000;
    color: white;
}

#clock {
    position: absolute;
    top: 45%;
    left: 40vw;
    color: white;
    font-weight: bold;
    font-size: 48px;
    font-family: monospace;
}